<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="com.arnia.plugins.smsbuilder"
	version="0.1.1">

	<name>SMSBuilder</name>

		<description>
			This plugin allows you to open the iOS SMS Composer with recipients and the SMS text as parameters.
		</description>

		<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=2.8.0" />
	</engines>


	<asset src="www/SMSBuilder.js" target="js/plugins/SMSBuilder.js" />

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="SMSBuilder">
				<param name="ios-package" value="SMSBuilder" />
			</feature>
		</config-file>

		<header-file src="src/ios/SMSBuilder.h" />

		<source-file src="src/ios/SMSBuilder.m" />
        
        <framework src="MessageUI.framework" />
	</platform>

</plugin>